body{
  background-color:  rgb(119, 119, 207);
  justify-content: center;
  align-items: center;
}

.signup-box {
  margin-top: 50px;
}


.signup-button{
  background-color: black;
}


.signup-box .box {
  background-color:  rgb(135, 135, 141);
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  /* width: 400px;
  padding: 20px;
  border-radius: 8px; */
  max-width: 700px;
  float: none;
  margin: 150px auto;
  font-weight: 500;
  
}

.signup-box h2 {
  text-align: center; /* Center-align the text */
}

.signup-box form {
  margin-top: 20px;
}

.gender-input {
  display: inline-block; /* Align input space inline with the text */
  width: 30%; /* Set width for the input space */
  margin-top: 5px;
}


.signup-box form label {
  font-weight: bold;
  display: inline-block; /* Display inline with the input fields */
  width: 20%; /* Set the width for labels */
  margin-right: 5px; /* Add some space between label and input */
  text-align: right; /* Align labels to the right */
}




.signup-box form select,
.signup-box form input[type="text"],
.signup-box form input[type="password"],
.signup-box form input[type="submit"] {
  width: 30%; /* Reduced width for input fields */
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}